.top-navigation-container {
	padding: 0px 50px;

	.top-nav-content {
		width: 100%;
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

    .top-nav-company-info{
        letter-spacing: 1px;
        font-family: 'Open Sans',sans-serif;
        min-width: max-content;
        text-transform: uppercase;
    }

	.top-nav-company-name {
		font-size: 30px;
		color: #fe0001;
		font-weight: 800;
		text-shadow: 1px 1px 4px black;
	}

    .top-nav-company-desc {
		font-size: 16px;
		font-weight: 600;
	}

	.top-nav-logo {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;

		img {
			width: 80px;
		}
	}

	.top-nav-menu-list {
		display: flex;
		align-items: center;
		justify-content: space-around;
		width: 80%;
		height: 60%;
	}

	.top-nav-menu {
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0 10px;
		font-family: "Abel", sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: 18px;
		padding: 0 15px;
		text-decoration: none;
		color: black;
		transition-duration: 500ms;
	}

	.top-nav-active-menu {
		background-color: #3498db;
		color: white !important;
	}

	.top-nav-menu:hover {
		color: #3498db;
	}

	.top-nav-right-pannel {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.top-nav-slogan {
		background-color: #00184a;
		width: max-content;
		padding: 3px 10px;
	}
}

.section-heading-container {
	position: relative;

	.section-heading-content {
		width: 100%;
		height: 250px;
		font-size: 50px;
		font-family: "Kanit", sans-serif;
		font-style: normal;
		text-transform: uppercase;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.heading-text {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.heading-text::before,
	.heading-text::after {
		background-color: #000000;
		width: 50px;
		height: 2px;
		content: "";
	}

	.heading-text-1 {
		font-weight: 200;
		display: inline-block;
		letter-spacing: 1px;
		margin: 0px 10px;
	}

	.heading-text-2 {
		font-weight: 800;
		display: inline-block;
		margin: 0px 10px;
	}

	.background-text {
		position: absolute;
		font-family: "Lato";
		font-size: 140px;
		font-weight: bold;
		color: rgba(0, 0, 0, 0.05);
		letter-spacing: 5px;
	}
}

.our-product-card-1 {
	width: 100%;
	margin: 20px 0;

	.product-image {
		width: 100%;
		overflow: hidden;

		img {
			width: 100%;
			transition-duration: 2s;
			aspect-ratio: 3/2;
		}

		img:hover {
			scale: 1.2;
		}
	}

	.product-desription {
		display: flex;
		flex-direction: column;
	}

	.product-name {
		font-family: "Kanit", sans-serif;
		font-size: 26px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 20px 0;
	}

	.product-description {
		font-family: "Abel", sans-serif;
		font-size: 17px;
		font-weight: 400;
	}

	.product-index {
		position: absolute;
		font-family: "Lato";
		font-size: 140px;
		font-weight: bold;
		color: rgba(0, 0, 0, 0.05);
		letter-spacing: 5px;
	}
}

.buddy-card {
	width: 100%;

	.buddy-image {
		img {
			width: 100%;
		}
	}

	.buddy-detail {
		width: 100%;
		position: relative;
		background-color: #0000000d;
		top: -75px;
	}

	.social-media {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
		opacity: 0;
		height: 70px;
		box-sizing: border-box;
		transition-duration: 300ms;
		transition-timing-function: linear;
	}

	.buddy-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 30px 10px;
		transition-duration: 300ms;
		transition-timing-function: linear;
		box-sizing: border-box;
		height: 125px;
	}

	.buddy-name {
		font-family: "Kanit", sans-serif;
		font-size: 16px;
		font-weight: 600;
		text-transform: capitalize;
		margin-bottom: 10px;
	}

	.buddy-designation {
		font-family: "Kanit", sans-serif;
		font-size: 14px;
		font-weight: 400;
		text-transform: capitalize;
	}

	&:hover {
		.social-media {
			opacity: 1;
			background-color: rgba(255, 255, 255, 0.9);
			color: #3498db;
		}

		.buddy-info {
			background-color: #3498db;
			color: white;
		}
	}
}

.client-feedback-content {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 80%;

	.client-feedback {
		width: 100%;
		background-color: white;
		height: 100px;
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 10px 20px;
		box-sizing: border-box;
		font-family: "Abel", sans-serif;
		font-size: 17px;
	}

	.client-pointer {
		width: 20px;
		height: 20px;
		background-color: #fff;
		transform: rotate(45deg);
		margin-left: 40px;
		position: relative;
		top: -13px;
	}

	.client-info {
		width: 80%;
		color: white;
		display: flex;
		align-items: center;
	}

	.client-image-parent {
		width: 100px;
		height: 100px;
		border-radius: 50%;
		border: 1px solid #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.client-image {
		width: 85%;
		height: 85%;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;

		img {
			height: 100%;
		}
	}

	.client-name {
		margin-left: 50px;
		margin-bottom: 10px;
		font-family: "Kanit", sans-serif;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 0.5px;
	}

	.client-designation {
		margin-left: 50px;
		font-family: "Kanit", sans-serif;
		font-size: 14px;
		font-weight: 400;
		letter-spacing: 0.5px;
	}
}

.footer-content {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Abel", sans-serif;
	font-size: 18px;
	color: white;
	background-color: black;
	text-transform: capitalize;
}

.our-product-card-2 {
	width: 100%;
	display: flex;
	justify-content: center;

	.product-image {
		width: 50%;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		img {
			width: 100%;
			aspect-ratio: 2/2;
			transition-duration: 2s;
		}
	}

	&:hover .product-image img {
		scale: 1.2;
	}

	.product-image-info {
		width: 80%;
		background-color: white;
		position: relative;
		top: -80px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding: 30px;
		box-sizing: border-box;
	}

	.product-info {
		width: 50%;
		display: flex;
		justify-content: center;
		/* align-items: center; */
		flex-direction: column;
		box-sizing: border-box;
	}

	.product-image-name {
		font-family: "Kanit", sans-serif;
		font-size: 24px;
		font-weight: 400;
	}

	.product-image-description {
		font-family: "Abel", sans-serif;
		font-size: 18px;
	}

	.product-index {
		font-family: "Kanit", sans-serif;
		font-size: 100px;
		font-weight: 400;
		color: #d1d1d1;
	}

	.small-saperator {
		width: 50px;
		height: 2px;
		background-color: #3498db;
		margin-bottom: 20px;
	}

	.product-name {
		font-family: "Kanit", sans-serif;
		font-size: 24px;
		font-weight: 400;
	}

	.product-description {
		font-family: "Abel", sans-serif;
		font-size: 17px;
		color: #3498db;
	}
}
