.contact-us-map-container{

    iframe{
        width: 100vw;
        height: 500px;
        border:0; 
    }
}

.contact-us-contect-cards-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);;

    .contact-us-contect-cards-content{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contect-card{
        width: 30%;
        height: 110px;
        box-sizing: border-box;
        border: 1px solid black;
        display: flex;
        transition-duration: 1s;
        position: relative;
        top: -55px;
    }
    
    .contact-icon{
        width: 25%;
        background-color: black;
        color: white;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: 1s;
    }

    .contact-info{
        width: 75%;
        background-color: #fff;
    }

    .contact-info-heading{
        font-family: "Kanit", sans-serif;
        font-size: 13px;
        font-weight: 800;
        color: #00000080;
        margin: 10px;
        letter-spacing: 1px;
    }

    .contact-info-text{
        margin: 10px;
        font-family: "Abel", sans-serif;
        font-size: 17px;
    }

    .contect-card:hover{
        border: 1px solid #b8aa83;
        
        .contact-icon{
            background-color: #b8aa83;
        }
    }
}

.contact-us-contect-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.05);

    .contact-us-contect-form-content{
        width: 80%;
        display: flex;
        justify-content: center;
        padding: 100px 0;
    }

    .user-action-message{
        width: 20%;
    }

    .action-message-heading{
        font-family: "Kanit", sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    .action-message{
        font-family: "Abel", sans-serif;
        font-size: 17px;
        line-height: 28px;
    }

    .user-contect-form{
        width: 80%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .input-field, .input-field-textarea{
        width: 40%;
        border-bottom: 1px solid black;
        display: flex;
        align-items: center;
        height: 50px;
        padding-top: 10px;
        transition-duration: 300ms;
    }
    
    .input-field-textarea{
        width: 87%;
        height: unset;
        align-items: flex-start;
        padding-top: 30px;
    }
    
    .input-field-icon{
        width: 30px;
    }
    
    input, textarea{
        border: none;
        outline: none;
        width: 100%;
        font-family: "Abel", sans-serif;
        font-size: 15px;
        background-color: transparent;
        letter-spacing: 0.5px;
    }

    input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
        color: black; /*Change the placeholder color*/
    }

   .submit-button{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
   }
}